body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:497px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:20px;
}
#u3427 {
  position:absolute;
  left:65px;
  top:100px;
  width:685px;
  height:497px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:20px;
}
#u3428 {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  word-wrap:break-word;
}
#u3429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u3429 {
  position:absolute;
  left:78px;
  top:37px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u3430 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3431 {
  position:absolute;
  left:65px;
  top:217px;
  width:541px;
  height:46px;
  font-size:20px;
}
#u3432 {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  white-space:nowrap;
}
